<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naeunminchocofarm.ncf_api.smart_farm.mapper.FarmMapper">

    <!-- 스마트팜 전체 조회 -->
    <select id="getAllFarms" resultType="com.naeunminchocofarm.ncf_api.smart_farm.entity.Farm">
        SELECT * FROM farm
    </select>

    <!-- 스마트팜 등록 -->
    <insert id="insertFarm" parameterType="com.naeunminchocofarm.ncf_api.smart_farm.dto.FarmDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO farm (
            member_id
            , farm_name
            , uuid
        ) VALUES (
            #{memberId}
            , #{farmName}
            , #{uuid_generate_v4()}
        )
    </insert>

</mapper>