<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naeunminchocofarm.ncf_api.humidity.mapper.HumidityMapper">
    <insert id="insert">
        INSERT INTO humidities (humidity_percentage, measured_at)
        VALUES (#{humidityPercentage}, #{measuredAt})
    </insert>

    <select id="getAllHumidity" resultType="com.naeunminchocofarm.ncf_api.humidity.entity.Humidity">
        SELECT *
        FROM humidities
        ORDER BY id DESC;
    </select>
</mapper>