<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naeunminchocofarm.ncf_api.humidity.mapper.HumidityMapper">
    <insert id="insert">
        INSERT INTO humidities (humidity_percentage, measured_at)
        VALUES (#{humidityPercentage}, #{measuredAt})
    </insert>

    <insert id="insertHumidity">
        INSERT INTO humidities (humidity_percentage, measured_at, sensor_id)
        SELECT #{humidityPercentage}, #{measuredAt}, ss.id
        FROM sensors ss
        JOIN sections st ON ss.section_id = st.id AND ss.name = #{sensorName} AND st.name = #{sectionName}
        JOIN crops c ON st.crop_id = c.id AND c.name = #{cropsName}
        JOIN farms f ON c.farm_id = f.id AND f.uuid = #{farmUuid};
    </insert>

    <select id="getAllHumidity" resultType="com.naeunminchocofarm.ncf_api.humidity.entity.Humidity">
        SELECT *
        FROM humidities
        ORDER BY id DESC;
    </select>
</mapper>