<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naeunminchocofarm.ncf_api.ldr.mapper.LdrMapper">
    <insert id="insertLdrValue">
        INSERT INTO ldr_values (ldr_value, measured_at)
        VALUES (#{ldrValue}, #{measuredAt})
    </insert>

    <select id="getAllLdrValue" resultType="com.naeunminchocofarm.ncf_api.ldr.dto.LdrValueDTO">
        SELECT id, ldr_value, measured_at
        FROM ldr_values
        ORDER BY id DESC;
    </select>

</mapper>