<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naeunminchocofarm.ncf_api.member.mapper.MemberMapper">

    <resultMap id="member" type="com.naeunminchocofarm.ncf_api.member.entity.Member">
        <id column="ID" property="id"/>
        <result column="LOGIN_ID" property="loginId"/>
        <result column="ENCRYPTED_LOGIN_PW" property="encryptedLoginPw"/>
        <result column="NAME" property="name"/>
        <result column="EMAIL" property="email"/>
        <result column="TELL" property="tell"/>
        <result column="PRIVACY_POLICY" property="privacyPolicy"/>
        <result column="CREATED_AT" property="createdAt"/>
        <result column="DELETED_AT" property="deletedAt"/>
        <result column="MEMO" property="memo"/>
        <association property="memberRole" resultMap="memberRole"/>
    </resultMap>

    <resultMap id="memberRole" type="com.naeunminchocofarm.ncf_api.member.entity.MemberRole">
        <id column="ROLE_FLAG" property="roleFlag"/>
        <result column="ROLE_NAME" property="roleName"/>
    </resultMap>

    <insert id = "signUp" parameterType="com.naeunminchocofarm.ncf_api.member.entity.Member">
        INSERT INTO MEMBERS(
        LOGIN_ID
        ,ENCRYPTED_LOGIN_PW
        ,NAME
        ,EMAIL
        ,TELL
        ,PRIVACY_POLICY
        ) VALUES(
        #{loginId}
        ,#{encryptedLoginPw}
        ,#{name}
        ,#{email}
        ,#{tell}
        ,#{privacyPolicy}
        )
    </insert>

    <!-- 필요한거 로그인시 있는지 없는지 여부 select-->
    <select id="findByLoginId" resultMap="member">
        SELECT
        m.ID,
        m.LOGIN_ID,
        m.ENCRYPTED_LOGIN_PW,
        m.NAME,
        m.EMAIL,
        m.TELL,
        r.ROLE_FLAG,
        r.ROLE_NAME
        FROM members m
        JOIN member_role r ON r.ROLE_FLAG = m.MEMBER_ROLE
        WHERE m.login_id = #{loginId}
    </select>

    <!-- 필요한거 admin 회원리스트 s elect-->
    <select id="getMemberList" resultMap="member" >
        SELECT
        m.ID,
        m.NAME,
        m.LOGIN_ID,
        m.EMAIL,
        m.TELL,
        m.CREATED_AT,
        m.DELETED_AT,
        r.ROLE_FLAG,
        r.ROLE_NAME
        FROM members m
        JOIN member_role r ON r.ROLE_FLAG = m.MEMBER_ROLE
        ORDER BY m.CREATED_AT DESC
        LIMIT  #{pagination.size} OFFSET #{pagination.skip}
    </select>

    <!-- 필요한거 web 마이페이지 select-->
    <!--login info용임-->
    <select id="getMemInfo" resultType="com.naeunminchocofarm.ncf_api.member.entity.LoginInfo">
        SELECT
        m.ID,
        m.LOGIN_ID,
        m.NAME,
        m.EMAIL,
        m.TELL,
        r.ROLE_NAME,
        r.ROLE_FLAG
        FROM members m
        JOIN member_role r ON m.member_role = r.ROLE_FLAG
        WHERE m.id = #{id}
    </select>
    <!-- 필요한거 web 마이페이지수정 insert-->
    <!-- 필요한거 web 회원탈퇴 delete-->
</mapper>