<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naeunminchocofarm.ncf_api.smart_farm.mapper.SectionMapper">
    <!-- 구역 전체 조회 -->
    <select id="getAllSections" resultType="com.naeunminchocofarm.ncf_api.smart_farm.entity.Section">
        SELECT * FROM sections
    </select>

    <!-- 해당 farm 구역 상세 목록-->
    <select id="getSectionsByFarmId" resultType="com.naeunminchocofarm.ncf_api.smart_farm.entity.Section">
        SELECT
            id,
            name,
            uuid_id,
            farm_id
        FROM sections
        WHERE farm_id = #{farmId}
    </select>

    <!-- 구역 등록 -->
    <insert id="insertSection">
        INSERT INTO section (
            name
            , farm_id
            , uuid_id
        ) VALUES (
            #{name}
            , #{farmId}
            , #{uuidId}
        )
    </insert>

</mapper>