<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naeunminchocofarm.ncf_api.smart_farm.mapper.SensorMapper">

    <!-- 센서 전체 조회 -->
    <select id="getAllSensors" resultType="com.naeunminchocofarm.ncf_api.smart_farm.entity.Sensor">
        SELECT * FROM sensors
    </select>

    <!--  특정 구역의 센서 조회  -->
    <select id="getSensorBySectionId" resultType="com.naeunminchocofarm.ncf_api.smart_farm.entity.Sensor">
        SELECT
            id,
            name,
            section_id,
            uuid_id AS uuidId,
            sensor_type
        FROM sensors
        WHERE section_id = #{sectionId}
    </select>

    <!-- 센서 등록 -->
    <insert id="insertSensor">
        INSERT INTO sensors (
            name
            , section_id
            , uuid_id
            , sensor_type
        ) VALUES (
            #{name}
            , #{sectionId}
            , #{uuidId}
            , #{sensorType}
        )
    </insert>

</mapper>