<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naeunminchocofarm.ncf_api.serviceApply.mapper.ServiceApplyMapper">

    <resultMap id="ServiceApplyResultMap" type="com.naeunminchocofarm.ncf_api.serviceApply.entity.ServiceApply">
        <id property="id" column="id" />
        <result property="type" column="type" />
        <result property="contactTell" column="contact_tell" />
        <result property="content" column="content" />
        <result property="memo" column="memo" />
        <result property="applicationDate" column="application_date" />

        <association property="loginInfo" javaType="com.naeunminchocofarm.ncf_api.member.entity.LoginInfo">
            <id property="id" column="member_id" />
            <result property="loginId" column="login_id" />
            <result property="name" column="name" />
            <result property="email" column="email" />
            <result property="tell" column="tell" />
            <result property="roleName" column="role_name" />
            <result property="roleFlag" column="role_flag" />
        </association>

        <association property="serviceStatus" javaType="com.naeunminchocofarm.ncf_api.serviceApply.entity.ServiceStatus">
            <id property="id" column="service_status_id" />
            <result property="service_status" column="service_status" />
        </association>
    </resultMap>

    <select id="selectServiceApplyList" resultMap="ServiceApplyResultMap">
        SELECT
        sa.id,
        sa.type,
        sa.contact_tell,
        sa.content,
        sa.memo,
        sa.application_date,
        m.id AS member_id,
        m.login_id,
        m.name,
        m.email,
        m.tell,
        r.role_name,
        r.role_flag,
        s.id AS service_status_id,
        s.service_status AS status
        FROM service sa
        JOIN members m ON sa.member_id = m.id
        JOIN member_role r ON m.member_role = r.role_flag
        JOIN service_status s ON sa.service_status = s.id
    </select>

    <select id="selectServiceApplyDetail" resultMap="ServiceApplyResultMap">
        SELECT
        s.id,
        s.type,
        s.contact_tell,
        s.content,
        s.memo,
        s.application_date,
        m.id AS member_id,
        m.login_id,
        m.name,
        m.email,
        m.tell,
        r.role_name,
        r.role_flag,
        ss.id AS service_status_id,
        ss.service_status AS status
        FROM service s
        JOIN members m ON s.member_id = m.id
        JOIN member_role r ON m.member_role = r.role_flag
        JOIN service_status ss ON s.service_status = ss.id
        WHERE s.id = #{id}
    </select>

    <insert id="insertServiceApply" parameterType="com.naeunminchocofarm.ncf_api.serviceApply.entity.ServiceApply">
        INSERT INTO service (
        member_id,
        type,
        contact_tell,
        content,
        memo
        )
        VALUES (
        #{memberId},
        #{type},
        #{contactTell},
        #{content},
        #{memo}
        )
    </insert>

    <select id="showMyServiceApplyList" parameterType="int" resultMap="ServiceApplyResultMap">
        SELECT
        sa.id,
        sa.type,
        sa.contact_tell,
        sa.content,
        sa.memo,
        sa.application_date,
        m.id AS member_id,
        m.login_id,
        m.name,
        m.email,
        m.tell,
        r.role_name,
        r.role_flag,
        s.id AS service_status_id,
        s.service_status AS status
        FROM service sa
        JOIN members m ON sa.member_id = m.id
        JOIN member_role r ON m.member_role = r.role_flag
        JOIN service_status s ON sa.service_status = s.id
        WHERE sa.member_id = #{memberId}
    </select>

    <update id="updateServiceApply" parameterType="com.naeunminchocofarm.ncf_api.serviceApply.entity.ServiceApply">
        UPDATE service
        SET
        member_id = #{memberId},
        type = #{type},
        contact_tell = #{contactTell},
        content = #{content},
        memo = #{memo},
        service_status = #{serviceStatus.id}
        WHERE id = #{id}
    </update>

    <delete id="deleteServiceApply" parameterType="int">
        DELETE FROM service
        WHERE id = #{id}
    </delete>


</mapper>