<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naeunminchocofarm.ncf_api.serviceApply.mapper.ServiceApplyMapper">
    <resultMap id="ServiceApplyResultMap" type="com.naeunminchocofarm.ncf_api.serviceApply.entity.ServiceApply">
        <id property="id" column="id" />
        <result property="type" column="type" />
        <result property="contactTell" column="contact_tell" />
        <result property="content" column="content" />
        <result property="memo" column="memo" />
        <result property="applicationAt" column="application_at" />
        <association property="loginInfo" javaType="com.naeunminchocofarm.ncf_api.member.entity.LoginInfo">
            <id property="id" column="member_id" />
            <result property="loginId" column="login_id" />
            <result property="name" column="name" />
            <result property="email" column="email" />
            <result property="tell" column="tell" />
            <result property="roleName" column="role_name" />
            <result property="roleFlag" column="role_flag" />
        </association>
        <association property="serviceStatus" resultMap="serviceStatus"/>
    </resultMap>

    <resultMap id="serviceStatus" type="com.naeunminchocofarm.ncf_api.member.entity.MemberRole">
        <id property="id" column="service_status_id" />
        <result property="serviceStatus" column="service_status" />
    </resultMap>

    <resultMap id="ServiceApplyListItemMap" type="com.naeunminchocofarm.ncf_api.serviceApply.dto.ServiceApplyListItemDTO">
        <constructor>
            <idArg column="id" javaType="Integer" />
            <arg column="login_id" javaType="String" />
            <arg column="name" javaType="String" />
            <arg column="email" javaType="String" />
            <arg column="tell" javaType="String" />
            <arg column="contact_tell" javaType="String" />
            <arg column="type" javaType="String" />
            <arg column="service_status" javaType="String" />
            <arg column="application_at" javaType="String" />
        </constructor>
    </resultMap>

    <resultMap id="ServiceApplyDetailMap" type="com.naeunminchocofarm.ncf_api.serviceApply.dto.ServiceApplyDetailDTO">
        <constructor>
            <idArg column="id" javaType="Integer" />
            <arg column="service_status" javaType="String" />
            <arg column="application_at" javaType="java.time.OffsetDateTime" />
            <arg column="name" javaType="String" />
            <arg column="member_id" javaType="String" />
            <arg column="email" javaType="String" />
            <arg column="tell" javaType="String" />
            <arg column="type" javaType="String" />
            <arg column="contact_tell" javaType="String" />
            <arg column="content" javaType="String" />
            <arg column="memo" javaType="String" />
        </constructor>
    </resultMap>

    <select id="selectServiceApplyList" resultMap="ServiceApplyListItemMap">
        SELECT
            s.id,
            s.type,
            s.application_at,
            m.login_id,
            s.contact_tell,
            m.name,
            m.email,
            m.tell,
            ss.service_status
        FROM services s
        JOIN members m ON s.member_id = m.id
        JOIN service_status ss ON s.service_status = ss.id
        ORDER BY s.id DESC;
    </select>

    <select id="selectServiceApplyDetail" resultMap="ServiceApplyDetailMap" >
        SELECT
            s.id,
            s.type,
            s.contact_tell,
            s.content,
            s.memo,
            s.application_at,
            s.member_id,
            m.name,
            m.email,
            m.tell,
            ss.service_status
        FROM services s
        JOIN members m ON s.member_id = m.id
        JOIN service_status ss ON s.service_status = ss.id
        WHERE s.id = #{id}
    </select>

    <insert id="insertServiceApplyV2">
        INSERT INTO services (member_id, type, contact_tell, content)
        VALUES (#{memberId}, #{data.type}, #{data.contactTell}, #{data.content});
    </insert>

    <select id="findByMemberId" resultMap="ServiceApplyDetailMap">
        SELECT
            s.id,
            s.type,
            s.contact_tell,
            s.content,
            s.memo,
            s.application_at,
            s.member_id,
            m.name,
            m.email,
            m.tell,
            ss.service_status
        FROM services s
        JOIN members m ON s.member_id = m.id
        JOIN service_status ss ON s.service_status = ss.id
        WHERE m.id = #{memberId}
        ORDER BY s.id DESC;
    </select>

    <update id="updateServiceApply" parameterType="com.naeunminchocofarm.ncf_api.serviceApply.entity.ServiceApply">
        UPDATE services
        SET
        member_id = #{memberId},
        type = #{type},
        contact_tell = #{contactTell},
        content = #{content},
        memo = #{memo},
        service_status = #{serviceStatus.id}
        WHERE id = #{id}
    </update>

    <delete id="deleteServiceApply" parameterType="int">
        DELETE FROM services
        WHERE id = #{id}
    </delete>
</mapper>