<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naeunminchocofarm.ncf_api.serviceApply.mapper.ServiceStatusMapper">
    <select id="getServiceStatus" resultType="com.naeunminchocofarm.ncf_api.serviceApply.entity.ServiceStatus">
        SELECT
        id,
        service_status
        FROM
        service_status;
    </select>
</mapper>
