<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naeunminchocofarm.ncf_api.soil_moisture.mapper.SoilMoistureMapper">
    <insert id="insert">
        INSERT INTO soil_moisture_values (soil_moisture_value, measured_at)
        VALUES (#{soilMoistureValue}, #{measuredAt})
    </insert>
</mapper>