<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naeunminchocofarm.ncf_api.temperature.mapper.TemperatureMapper">
    <insert id="insert">
        INSERT INTO air_temperatures (temperature_c, measured_at)
        VALUES (#{temperatureC}, #{measuredAt})
    </insert>

    <select id="getRecentTemperaturesGroupedByHour" resultType="com.naeunminchocofarm.ncf_api.temperature.entity.AirTemperature">
        SELECT
            MAX(id) AS id,
            DATE_TRUNC('hour', measured_at) AS measuredAt,
            AVG(temperature_c) AS temperature_c
        FROM air_temperatures
        GROUP BY measuredAt
        ORDER BY id DESC
        LIMIT #{pagination.size} OFFSET #{pagination.skip};
    </select>

    <select id="getRecentTemperatures" resultType="com.naeunminchocofarm.ncf_api.temperature.entity.AirTemperature">
        SELECT * FROM air_temperatures
        ORDER BY id DESC
        LIMIT #{pagination.size} OFFSET #{pagination.skip};
    </select>
</mapper>