<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naeunminchocofarm.ncf_api.temperature.mapper.TemperatureMapper">
    <!--라즈베리에서 받아오는 자료가 들어가는 쿼리-->
    <insert id="insert">
        INSERT INTO air_temperatures (temperature_c, measured_at)
        VALUES (#{temperatureC}, #{measuredAt})
    </insert>

    <!--TODAY의 시간당평균-->
    <select id="getRecentTemperaturesGroupedByHour" resultType="com.naeunminchocofarm.ncf_api.temperature.entity.AirTemperature">
        SELECT
            MAX(id) AS id,
            DATE_TRUNC('hour', measured_at) AS measuredAt,
            AVG(temperature_c) AS temperature_c
        FROM air_temperatures
        GROUP BY measuredAt
        ORDER BY id DESC
        LIMIT #{pagination.size} OFFSET #{pagination.skip};
    </select>

    <!--최근전체데이터 TODAY 전체 오늘껀 불러옴-->
    <select id="getRecentTemperatures" resultType="com.naeunminchocofarm.ncf_api.temperature.entity.AirTemperature">
        SELECT id
        , temperature_c
        , measured_at AS measured_at
        FROM air_temperatures
        WHERE (measured_at)::date = CURRENT_DATE
        ORDER BY id DESC
        LIMIT #{pagination.size} OFFSET #{pagination.skip};
    </select>
</mapper>